../trocr-base-printed/trocr-lora-unified/** filter=lfs diff=lfs merge=lfs -text
../urdu-text-detection/*.pt filter=lfs diff=lfs merge=lfs -text
../UTRNet-High-Resolution-Urdu-Text-Recognition/saved_models/** filter=lfs diff=lfs merge=lfs -text
